$game-field-background-color: rgba(108, 58, 118, 0.85);
$game-field-border-color: #462663;

$rocket-icon: '../../../images/rocket.png';
$ufo-icon: '../../../images/ufo.png';

$rkn-icon: '../../../images/rkn.png';
$telegram-icon: '../../../images/telegram.png';

.game-view__game {
    width: 72vmin;
    height: 63vmin;
    padding: 0;
    position: absolute;
    margin-top: 16vmin;
    z-index: 1;
}

.game-view__game tr>td {
    background-color: $game-field-background-color;
    border-color: $game-field-border-color;
    border-style: solid;
    border-width: 0.2vmin;
    box-shadow: 0 0 0.8vmin 0.3vmin azure, 0.5vmin 1vmin 0.5vmin 0.1vmin black,
    -0.3vmin 1vmin 0.5vmin 0.1vmin black;
}

.game-view__game table[class*=playing-field-row]:nth-of-type(2n+1) {
    margin-left: 3.5vmin;
    width: 64vmin;
}

.game-view__game-table {
    border-spacing: 1vmin;
    width: 72vmin;
    height: 8vmin;
}

.ufo {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    &_theme-1, &_theme-2 {
        background-image: url($ufo-icon);
    }

    &_theme-vpn {
        background-image: url($telegram-icon);
    }
}

.ufo_hidden {
    background-color: #ffdb00;
}

.ufo-hidden {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    opacity: 0;

    &_theme-1, &_theme-2 {
        background-image: url($ufo-icon);
    }

    &_theme-vpn {
        background-image: url($telegram-icon);
    }
}

.empty-cell {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    &_theme-1, &_theme-2 {
        background-image: url($rocket-icon);
    }

    &_theme-vpn {
        background-image: url($rkn-icon);
    }
}

.rocket {
    opacity: 1;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    &_theme-1, &_theme-2 {
        background-image: url($rocket-icon);
    }

    &_theme-vpn {
        background-image: url($rkn-icon);
    }
}

.player_human_turn table tbody tr td:hover .empty-cell:hover {
    opacity: 0.8;
}

.player_human_turn table tbody tr .empty_cell:hover {
    box-shadow: 0 0 2vmin 1vmin azure;
    cursor: pointer;
}

.player_ufo_turn table tbody tr td:hover .ufo-hidden {
    opacity: 0.8;
}

.player_ufo_turn table tbody tr .ufo_hidden:hover {
    box-shadow: 0 0 2vmin 1vmin azure;
    cursor: pointer;
}

@media only screen
and (max-device-aspect-ratio: 5/7 ) {

    .game-platform-checker {
        visibility: hidden;
    }

    .game-view__game {
        width: 90vmin;
        height: 63vh;
        margin-top: 41vmin;
    }

    .game-view__game-table {
        border-spacing: 1vmin;
        width: 90vmin;
        height: 10vmin;
    }

    .game-view__game table[class*=playing-field-row]:nth-of-type(2n+1) {
        margin-left: 5vmin;
        width: 81vmin;
    }

}