/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(68, 0, 168);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4900c2;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 0, 168);
}