.end-game-board {

    position: absolute;

    margin-top: 16vh;

    width: 80vmin;
    height: 65vmin;

    background-size: 100% 100%;
    background-image: url("../icons/eng-game-board.png");

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.end-game-board__total-table {

    margin-top: 19vmin;

    width: 60vmin;
    font-size: 7vmin;
    color: #430171;
}

.end-game-board__total-table tr:nth-child(1)>td {
    padding-bottom: 4vmin;
}

.end-game-board__total-table tr td:nth-child(2) {
    text-align: center;
}

.end-game-board__total-table tr:nth-child(1)>td:nth-child(2) {
    padding-bottom: 2.15vmin;
}


.end-game-board__controls {
    width: 60vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 2vmin;
    margin-top: 1vmin;
}

.end-game-board__control {
    width: 45vmin;
    height: 9vmin;

    margin: 2vmin;
    background-color: #560188;
    color: azure;

    border-radius: 1.5vmin;
    border: 0.4vmin solid #560188;
    box-shadow: 0.5vmin 0.5vmin 2vmin  #430171;

    font-family: 'Chicle', cursive, fantasy;
    font-size: 4.5vmin;
}

.end-game-board__control:hover {
    cursor: pointer;
    text-shadow: 0.1vmin 0.1vmin 1vmin black, 0 0 5vmin azure;

    box-shadow: 0 3px 20px rgba(100, 1, 168, 0.6),
    0 0.1vmin 0 rgb(100, 1, 168),
    inset 0 0 20px rgb(184, 4, 255);
}

.end-game-board__control:focus {
    outline: none !important;
}

.end-game-board__control:active {
    box-shadow:
            inset 0 0 20px rgba(0, 0, 0, 0.33),
            0 2px 0 rgb(67, 1, 113),
            inset 0 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: none;
}