html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../icons/sky.png");
    background-size: 100% 100%;

    color: #B130D4;
    font-family: 'Chicle', cursive, fantasy;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
   /* animation: stars 40s linear infinite;*/
}

@keyframes stars {
    from { background-position-x: 0;}
    to { background-position: -100vw;}
}

header {
    width: 100%;
    height: 20%;
}

article {
    width: 100%;
    height: 30%;
}

section {
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 8vh;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: row;
}

.tittle {
    margin-top:6vh;
    font-size: 10vh;
    width: 100%;
    text-align: center;
    user-select: none;
    text-shadow: 1px 1px 2px black, 0 0 4vmin rgba(126, 3, 255, 0.77);
}

footer {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: flex-end;    /*Центрирование по вертикали */

    background-image: url("../icons/mid_ground.png");
    background-size: 100% 90%;
}

.footer__fore {
    width: 100%;
    height: 40%;
    background-image: url("../icons/fore_ground.png");
    background-size: 100% 100%;
}

.home {
    position: absolute;
    width: 7vmin;
    height: 7vmin;
    background-image: url("../icons/home.png");
    background-size: 100% 100%;
    left: 2vmin;
    top: 2vmin;
    opacity: 0.8;
}

.home:hover {
    opacity: 1;
    cursor: pointer;
}

.profile {
    width: 20vmin;
    color: azure;
    font-size: 6vmin;
    opacity: 0.8;
    user-select: none;
    position: absolute;
    right: 2vmin;
    top: 2vmin;
}

.profile:active {
    opacity: 1;
    cursor: pointer;
}

.profile:hover {
    opacity: 1;
    cursor: pointer;
}

.profile-icon {
    position: absolute;
    display: inline-block;
    width: 8vmin;
    height: 8vmin;
    background-image: url("../icons/no-avatar-white.png");
    background-size: 100% 100%;
}