section.view.menu-view
    header.view__header.view-header
    article
        div.view__content
            div.notfound
                div.notfound__ufo
                    div.notfound__text
                        | 404
                        |
                        | PAGE NOT FOUND
                a(href='/' class='notfound__mainmenu') MAIN MENU
    footer
        div.footer__fore