section.view.about-view
    header.view__header.view-header
        div.view-header__controls
            a(href='/') Back
        h1.view-header__head About game
    div.view__content
        div.about-view__about
            | It will be very cool game ヽ(^◇^*)/