section.view.about-view
    header.view__header.view-header
        div.view-header__home
            a(href='/')
        div.view-header__head About game
        div.view-header__profile Guest
            div.view-header__profile-icon.profile-icon
    article
        div.view__content
            div.about-view__about
                p
                    |It will be very cool game
                    br
                    |ヽ(^◇^*)/
    footer
        div.footer__fore