section.view.about-view
    header.view__header.view-header
        div.view-header__home
            a(href='/')
        div.view-header__head About game
        div.view-header__profile
            include ../../common.blocks/profile-bar/profile-bar.tmpl.pug
    article
        div.view__content
            div.about-view__about
                img(src='../../../images/howtoplay.png')
                p
                    |Don't let the alien leave the field!
                    br
                    |Place your rockets to surround him.
                    br
                    br
                    |Game made by
                    a(href='https://github.com/frontend-park-mail-ru/2018_1_IT-Berries') IT-Berries
                    br
                    |Technopark Team (2018)
                    br
                    |ヽ(^◇^*)/
    footer
        div.footer__fore