section.view.choose-side-view
    header.view__header.view-header
        div.view-header__home
            a(href='/')
        div.view-header__head Choose your side
        div.view-header__profile
            include ../../common.blocks/profile-bar/profile-bar.tmpl.pug
    article
        div.view__content
            div.choose-side-view__sides
                div.choose-side-view__side.choose-side-view__human-side
                    div.choose-side-view__icon
                    div.choose-side-view__side-text HUMANS
                div.choose-side-view__side.choose-side-view__ufo-side
                    div.choose-side-view__icon
                        div.ship-icon
                    div.choose-side-view__side-text UFO

    footer
        div.footer__fore