section.view.game-mode-view
    header.view__header.view-header
        div.view-header__controls
            a(href='/') Back
        h1.view-header__head Select game mode
    div.view__content
        div.game-mode-view__game-mode