section.view.game-mode-view
    header.view__header.view-header
        div.view-header__controls
            a(href=item.href) item.title
        h1.view-header__head Select game mode
    div.view__content
        div.game-mode-view__game-mode

//
    <section class="game-settings" hidden="true">
        <h1>Game settings</h1>
        <div class="game-settings-container">

        </div>
        <a href="" data-section="menu">Back</a>
    </section>