section.view.menu-view
    header.view__header.view-header
        div.view-header__head Catch the Alien!
        div.view-header__profile Guest
            a(href='/profile' class='view-header__profile-icon profile-icon')
    article
        div.view__content
            each val in navItems
                div(class=('menu__button ' + val.button_style + ' ' + val.type + '-button'))
                    div(class='menu-icon ' + 'menu-' + val.type + '-icon')
                        a(href=val.href)
    footer
        div.footer__fore