section.view.menu-view
    header.view__header.view-header
        div.view-header__controls
        div.view-header__home
        div.view-header__head Catch the Alien!
        div.view-header__profile Guest
            div.view-header__profile-icon.profile-icon
        div.view-header__profile-bar
    article
        div.view__content
            each val in navItems
                div(class=('menu__button ' + val.button_style + ' ' + val.type + '-button'))
                    a(href=val.href)
                        div(class='menu-icon ' + 'menu-' + val.type + '-icon')
    footer
        div.footer__fore
