section.view.menu-view
    header.view__header.view-header
        div.view-header__head #{header}
        div.view-header__profile
            include ../../common.blocks/profile-bar/profile-bar.tmpl.pug
    article
        div.view__content
            each val in navItems
                div(class=('menu__button ' + val.button_style + ' '
                  + val.type + '-button ' + val.type + '-button_theme-' + theme))
                    div(class='menu-icon ' + 'menu-' + val.type + '-icon')
                    a(href=val.href)
    footer
        div.footer__fore