- let i = 0; let j = 0;
section.view.game-view
    header.view__header.view-header
        div.view-header__home
            a(href='/')
        div.view-header__head #{header}
    article
        div.view__content
            div.conecting-panel
                div.conecting-panel__tittle Preparation for the game
                div.conecting-panel__msg
            div(class='end-game-panel')
                div.end-game-panel__tiitle Game over
                input(type='button' class='end-game-panel__button' value='ok')
            div.players-tables.players-tables_hidden
                each val in [1, 2]
                    div(class='player-info player-' + val + '-info')
                        div.player-info__timer 0:30
                        table(class='player-panel player-' + val + '-panel')
                            thead
                                tr
                                    th(class='player-nickname') Player #{val}
                            tbody
                                tr
                                    td Moves:
                                    td.player-moves 0
                                tr
                                    td Score:
                                    td.player-score 0
                div.game-time 0:00
            div.game-view__game

    footer
        div.footer__fore