.profile-box {
    margin-top: 12vh;

    width: 70vmin;
    height: 70vmin;
    background-color: rgba(228, 116, 255, 0.4);
    border-radius: 5vmin;
    border-color: rgb(17, 0, 168);
    box-shadow: 0 0 1vmin 0.5vmin rgba(73, 0, 199, 0.55);


    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 3vmin;
    text-decoration: none;
}

.profile-input {
    width: 25vmin;
    height: 5vmin;
    margin: 1vmin;
}

.profile__input {
    margin: 2vmin;
    width: 25vmin;
    height: 5vmin;
}

.profile-data {
    width: 35vmin;
    height: 60vmin;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: azure;

    margin-left: 3vmin;
}

.user-data {
    width: 35vmin;
    height: 15vmin;
    border-spacing: 0;
    font-size: 3.5vmin;
    display: table;
    table-layout: fixed;
    top: 0;
    left:0;
    position: relative;
    float: left;
}

.user-data>tbody {
    display: table;
    width: 35vmin;
    height: 15vmin;
    table-layout: fixed;
    top: 0;
    left:0;
    position: relative;
    float: left;

}

.user-data tbody tr {
    display: table;
    width: 35vmin;
    height: 3vmin;
    table-layout: fixed;
    top: 0;
    left:0;
    position: relative;
    float: left;
}

.user-data tbody tr td {
    height: 3vmin;
    font-size: 3vmin;
    display: table-cell;
    vertical-align: center;
    text-decoration: none;
    table-layout: fixed;
    top: 0;
    left:0;
    margin: 0;
}

.user-data tbody tr td:nth-child(1) {
    border-right-color: azure;
    border-right-style: solid;
    border-right-width: 0.3vmin;
    text-align: right;
    padding: 0 1vmin 0 0;
    left:0;
    width: 13vmin;
}

.user-data tbody tr td:nth-child(2) {
    padding: 0 0 0 1vmin;
    width: 22vmin;
    word-wrap: break-word;
}


.js-profile-form {
    width: 35vmin;
    height: 60vmin;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-form {
    height: 50vmin;
    width: 30vmin;
}

.avatar-img {
    width: 30vmin;
    height: 30vmin;
    background-size: 100% 100%;
    border-radius: 2vmin;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    border-color: #6035db;
    border-width: 0.5vmin;
    border-style: solid;
    box-shadow: 0 1vmin 2vmin rgba(33, 5, 168, 0.6),
    0 0.1vmin 0 rgb(53, 0, 168);

    font-size: 3vmin;
}

.profile-form__button {
    width: 30vmin;
    position: absolute;
    right: 20vmin;
    text-decoration: none;
    padding: 0;
}

.profile-form__avatar-choose {
    margin: 2vmin;
    margin-bottom: 3vmin;
    padding: 0;
}

.profile-form__avatar-button {
    width: 15vmin;

}

.profile-form__avatar-text {
    margin-left: 1vmin;
    color: azure;
    font-size: 3vmin;
    width: 13vmin;
    word-wrap: break-word;
}

.js-additional-links {
    position: absolute;
    left: 2vmin;
    bottom: 2vmin;
}