table.scoreboard__table
    thead
        tr
            th #
            th user
            th score
    tbody.js-scoreboard-tbody
    tfoot
        tr
            td
                div.scoreboard__pagination.js-scoreboard-pagination
