table.scoreboard__table
    tbody
        each val, index in data
            tr.scoreboard__row
                td= val.id + 1
                td= val.username
                td= val.email
                td= val.score