section.view.signup-view
    header.view__header.view-header
        div.view-header__home
            a(href='/')
        div.view-header__head Signup
        div.view-header__profile Guest
            a(href='/profile' class='view-header__profile-icon profile-icon')
    article
        div.view__content.js-signup-form
            include ../../common.blocks/form/form.tmpl.pug
    footer
        div.footer__fore