.scoreboard__pagination a {
    text-decoration: none;
    margin: 0 2vmin;
}

.scoreboard__pagination b {
    text-decoration: none;
    margin: 0 2vmin;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 850px)
and (-webkit-min-device-pixel-ratio: 2) {

    .scoreboard__pagination {
        font-size: 8vmin;
    }

}