div.profile-bar
    if profile
        a #{profile.username}
        a(href='/profile' class='view-header__profile-icon profile-icon'
        style={'background-image': 'url(' + profile.profileBarAvatar + ')'})
    else
        a Guest
        a(href='/profile' class='view-header__profile-icon profile-icon' style={'background-image': 'url(../../images/no-avatar-white.png)'})