section.view.settings-view
    header.view__header.view-header
        div.view-header__controls
            a(href=item.href) item.title
        h1.view-header__head Settings
    div.view__content
        div.settings-view__settings