each planet in planets
    div(class='planet game-mode-view__' + planet.name + '-planet')
        div(class=planet.name + '-planet-shadows')
        div(class=planet.name + '-planet-inner-icon')
        div(class=planet.name + '-planet-inner-text') #{planet.innerText}