table.profile__table
    tbody
        tr.profile__row
            td
                img(src='/avatar?'+Math.random() + '&avatar=' + avatar height='100' width='100')
        tr.profile__row
            td Username:
            td #{username}
        tr.profile__row
            td Email:
            td #{email}
        tr.profile__row
            td Score:
            td #{score}