section.view.login-view
    header.view__header.view-header
        div.view-header__home
            a(href='/')
        div.view-header__head Login
    article
        div.view__content.js-login-form
            include ../../common.blocks/form/form.tmpl.pug
    footer
        div.footer__fore