section.view.login-view
    header.view__header.view-header
        a(href='/')
            div.view-header__home
        div.view-header__head Login
        div.view-header__profile Guest
            div.view-header__profile-icon.profile-icon
    article
        div.view__content.js-login-form
            include ../../common.blocks/form/form.tmpl.pug
    footer
        div.footer__fore