section.view.login-view
    header.view__header.view-header
        a(href='/')
            div.view-header__home
        div.view-header__head Login
        div.view-header__profile Guest
            div.view-header__profile-icon.profile-icon
    article
        div.view__content
            div.login-view__form.js-login-form
                include ../../common.blocks/form/form.tmpl.pug
    footer
        div.footer__fore


//
    <section class="login" hidden="true">
        <h1>Login</h1>
        <form class="login-form">
            <input type="email" name="email" class="login-form__email" placeholder="Email">
            <input type="password" name="password" class="login-form__password" placeholder="Password">
            <div class="login-form__validation"></div>
            <input class="login-form__submit" type="submit">
        </form>
        <a href="" data-section="registration">Registration</a>
        <a href="" data-section="menu">Back</a>
    </section>