.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 50vmin;
    height: 50vmin;
    background-color: rgba(228, 116, 255, 0.4);
    border-color: rgb(17, 0, 168);
    box-shadow: 0 0 1vmin 0.5vmin rgba(73, 0, 199, 0.55);

    margin-top: 10vh;

    border-radius: 10%;
    border-style: solid;
    border-width: 0.3vmin;
    border-color: ;
    position: absolute;

    color: whitesmoke;
    font-size: 5vh;
}

.settings__point {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
}

.settings__text {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
    width: 4vmin;
    margin: auto;
}

.range-text {
    margin: 4vmin;
}

.icon {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 6vmin;
    height: 6vmin;
    opacity: 0.8;
    margin: auto;
}

.icon:hover {
    opacity: 1;
    cursor: pointer;
}

.icon:active{
    opacity: 1;
    cursor: pointer;
}

.sound-icon {
    background-image: url("../icons/audioOn-2.png");
    width: 4vmin;
    height: 4vmin;
    margin-left: 1vmin;
}

.music-icon {
    background-image: url("../icons/musicOn.png");
}

.swither {
    margin: auto;
}