section.view.scoreboard-view
    header.view__header.view-header
        a(href='/')
            div.view-header__home
        div.view-header__head Scoreboard
        div.view-header__profile Guest
            div.view-header__profile-icon.profile-icon
    article
        div.view__content
            div.stars.top-left
                each val in [1, 2, 3]
                    div(class='star-icon star-' + val)
            div.scoreboard-view__table.js-scoreboard-table
            div.stars.bottom-right
                each val in [1, 2, 3]
                    div(class='star-icon star-' + val)
    footer
        div.footer__fore

//
    <section class="scoreboard" hidden="true">
       <h1>Scoreboard</h1>
       <div class="scoreboard__container"></div>
       <div class="scoreboard__paginator"></div>
       <a href="" data-section="menu">Back</a>
    </section>