section.view.scoreboard-view
    header.view__header.view-header
        div.view-header__controls
            a(href='/') Back
        h1.view-header__head Scoreboard
        div.view-header__profile-bar
    div.view__content
        div.scoreboard-view__table.js-scoreboard-table
        div.scoreboard-view__pagination.js-scoreboard-pagination

//
    <section class="scoreboard" hidden="true">
       <h1>Scoreboard</h1>
       <div class="scoreboard__container"></div>
       <div class="scoreboard__paginator"></div>
       <a href="" data-section="menu">Back</a>
    </section>